/* Inserta tu CSS aqui */
*{outline: 1px solid rgba(255,0,0,0.4);}
*{
	font-family: 'Amatic SC', cursive;
}
.separador{
	position: relative;
	height: 150px;
}
.menu{	
	list-style-type: none;
    text-align:center;
    background:url("../images/back4.jpg");
	width:100%;
	padding: 40px;
}
.menu li{
	display: inline-block; 
	font-size: 40px;
}
.menu li a{
	display: block;
	padding: 0 10px;
	text-decoration: none;   
	color: #fff;
}
a:hover{
	color: #B8860B;
}
.name{
	background: #F6F1ED url("../images/img11.jpg")no-repeat;
	height: 500px;
	width: 960px;
}
.name img{
	position: relative;
	left: 500px;
	top:100px;
	height: 350px;
}
h1{
	font-size: 40px;
	text-align: center;
	background: url("../images/back4.jpg");
}
p{
	width: 500px;
	font-size: 33px;
	text-align: center;
}

.col-3{
	position: relative;
	top:80px;
}
.col-4 img{
	margin-top: 80px;
	border-radius: 50px;
}
.list-image{
	width: 700px;
	height: 221px;
	margin:60px 116px 60px 116px;
	overflow: scroll;
}
.list-image li{
	list-style: none;
	display: inline-block;
}
.list-image img{
	width: 200px;
	height: 200px;
	border-radius: 100%;

}

.footer{
	background: url("../images/back4.jpg"); 
	text-align:center;
}